#intro{ 
    font-family:"sans-serif"; 
    color:black; 
    font-size: 5em; 
 
} 
.image { 
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZFroSWfP53quC5Rws8Gp7RVzmufTSANEyP6hdsJYtVwhMdTXP);
    background-repeat: no-repeat; 
    background-size: cover; 
    min-width: 100%; 
    min-height: 100%; 
 
} 
 
.Nav_Bar ul { 
      list-style-type: none; 
      margin: 0  ; 
      padding: 0; 
      overflow: hidden; 
  } 
 
.Nav_Bar ul li {margin-left:50px; 
    float: left; 
} 
 
a.Nav_Links:link, a.Nav_Links:visited { 
    display: block; 
    font-weight: bold; 
    color: rgba(8, 1, 1, 0.99); 
    text-align: center; 
    padding: 4px; 
    text-decoration: none; 
    text-transform: uppercase; 
} 
 
a.Nav_Links:hover, a.Nav_Links:active { 
    background-color: #7A991A; 
} 
 .login ul {
color:#ffffff;	 
    list-style-type: none; 
    margin: 0  ; 
    padding: 0; 
    overflow: hidden; 
} 
 
.login ul li {margin-bottom:50px;
color:#ffffff; 
    float:center; 
} 
 
a.Nav_Login:link, a.Nav_Login:visited { 
    display: block; 
	font-size:3em;
    font-weight: bold; 
    color: #000000; 
    text-align: center; 
    padding: 4px; 
    text-decoration: none; 
    text-transform: uppercase; 
} 
 
a.Nav_Login:hover, a.Nav_Login:active { 
    background-color: #7A991A; 
} 
 
 
 
 